[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Name=Handwriting Recognizer
Exec=python /home/killwithme/Desktop/projects/final_year_project/__init__.py
Comment=Recognizes handwritten digits
Icon=/home/killwithme/Desktop/app-icon.png
Name[en_IN]=Optical_Character_Recognizer
